<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <title>Weekly Project 5</title>
</head>

<body>
  <div class="header">
    <h1>Mystery Word</h1>
  </div>
  <div class="wrapper">
    <div class="word">
      {{#dashArray}}
        {{.}}
      {{/dashArray}}
    </div>
    <div class="lettersGuessed">
      <h3>Letters Guessed: {{emptyArray}}</h3>
    </div>
    <div class="form">
      <form class="" action="/letter" method="post">
        <input type="text" name="letter" value="" placeholder="Enter Letter">
        <input type="submit" name="button" value="Good luck, sucka!">
      </form>
    </div>
  </div>

</body>

</html>
