<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weekly Project 5</title>
  </head>
  <body>
    <h1>Mystery Word</h1>
      {{dash}}
      <h3>Letters Guessed: {{emptyArray}}</h3>

      <form class="" action="/letter" method="post">
        <input type="text" name="letter" value="" placeholder="Enter Letter">
        <input type="submit" name="button" value="Good luck, sucka!">
      </form>
  </body>
</html>
